.reveal .agrc table td {
    border: solid 1px !important;
}
.red {
    background-color: #FF4136;
}
.orange {
    background-color: #FF851B;
}
.green {
    background-color: #2ECC40;
}
.reveal .agrc table.sample td {
    width: 100px;
    height: 50px;
}
